[2022-10-02 00:19] thieleju opened #1 "Add listDatabreaches command using haveibeenpwned.com/API"
## Add new command `/listDatabreaches`

Please read the [CONTRIBUTING.md](https://github.com/thieleju/statsbot/blob/main/CONTRIBUTING.md) carefully before getting started!

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to the [haveibeenpwned.com](https://haveibeenpwned.com/API/v3#AllBreaches) API to get a

[2022-10-02 00:29] thieleju opened #2 "Add showChessLeaderboard command using chess.com public api"
## Add new command `/showChessLeaderboard`

Please read the [CONTRIBUTING.md](https://github.com/thieleju/statsbot/blob/main/CONTRIBUTING.md) carefully before getting started!

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to the [chess.com](https://www.chess.com/news/view/published-data-api#pubapi-leaderb

[2022-10-02 01:30] Miablo commented on #1
May I be assigned this issue?

[2022-10-02 03:18] thieleju commented on #1
Sure, go ahead @Miablo!

[2022-10-02 11:58] thieleju opened #3 "Add test using teset"
### Command Name

/test

### Public API Resource

https://test

### Description

## test

hey this is a test

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-02 11:59] thieleju opened #4 "Add <command> using <public api>"
### Command Name

/test

### Public API Resource

testlink

### Description

test
- sdf
- dsf
- sdf

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-02 12:16] thieleju opened #5 "Add /excuse command using Excuser API"
### Command Name

/excuse

### Public API Resource

https://excuser.herokuapp.com/

### Description

Get a random excuse from the [Excuse API](https://excuser.herokuapp.com/v1/excuse)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-02 12:22] thieleju opened #6 "Add <command> command using <public api>"
### Command Name

dfs

### Public API Resource

sadf

### Description

asdf

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-02 12:33] thieleju opened #7 "Add <command> command using <public api>"
### Command Name

test

### Public API Resource

test

### Description

test

### Implementation Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-02 12:34] jeremiaaxel commented on #2
Hi, can I be assigned for this issue?

[2022-10-02 12:41] thieleju commented on #2
Sure, please go ahead @jeremiaaxel!

[2022-10-02 12:46] thieleju opened #8 "Add /excuse command using Excuser API"
### Command Name

/excuse

### Public API Resource

https://excuser.herokuapp.com/

### Description

Return the `excuse` message from the response object of https://excuser.herokuapp.com/v1/excuse

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to your public API
- Format the dat

[2022-10-02 12:49] thieleju opened #9 "Add /truefact command using Random Useless Facts API"
### Command Name

/truefact

### Public API Resource

https://uselessfacts.jsph.pl

### Description

The command should display a random true fact.
Remember to add the url parameter `?language=en` to get the response as JSON.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to you

[2022-10-02 12:58] thieleju opened #10 "Add /trivia command using Open Trivia Database"
### Command Name

/trivia

### Public API Resource

https://opentdb.com/api_config.php

### Description

Add a command which asks the question and expects an answer. The question should contain the category of the question.
This could for example be implemented with only true/false questions.
Optional: Implement a second parameter to the command defining the difficulty (easy/medium/hard)

### Impl

[2022-10-02 13:06] JatinSingh08 commented on #9
Hey @thieleju,  please assign this to me.

[2022-10-02 13:13] thieleju commented on #9
Alright, happy contributing!

[2022-10-02 13:28] FreemRL commented on #8
Hello I created the command and tested it. Let me know if you want me to change anything. Pull request is open (#12)

[2022-10-02 13:42] thieleju commented on #8
@FreemRL Thanks for contributing ❤️
Please also add the new command to the commands table in the [README.md](https://github.com/thieleju/statsbot#readme). I also requested a small change in #12.

[2022-10-02 13:45] thieleju commented on #8
@FreemRL For the future, please read the [CONTRIBUTING.md](https://github.com/thieleju/statsbot/blob/main/CONTRIBUTING.md) first and ask to be assigned to an issue before raising a pr.

[2022-10-02 13:50] FreemRL commented on #8
@thieleju Yes sorry I will ask for assignment in the future. I added the command to the [README.md](https://github.com/thieleju/statsbot#readme). It's updated in the #12 PR.

[2022-10-02 14:04] thieleju commented on #8
No worries. Good work! PR #12 is merged and labeled with the `hacktober-accepted` label

[2022-10-02 14:04] #8 closed

[2022-10-02 14:23] CH1NRU5T commented on #10
I would like to work on this, please assign me :)

[2022-10-02 14:24] thieleju commented on #10
Sure, go ahead!

[2022-10-02 14:56] thieleju opened #13 "Add /programmingcontests command using Kontests API"
### Command Name

/programmingcontests

### Public API Resource

https://kontests.net/api

### Description

The bot should reply with a list of the next 5 upcoming programming contests with details like Name, Link, Start, Duration.
The data needs to be sorted by start_time and.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help

[2022-10-02 14:59] thieleju opened #14 "Add /numberfact command using Numbers API"
### Command Name

/numberfact

### Public API Resource

http://numbersapi.com/

### Description

The bot should reply with a random number fact from the api
http://numbersapi.com/random

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to your public API
- Format the data in a read

[2022-10-02 15:00] relby commented on #13
I'd like to implement this task, please assign it to me

[2022-10-02 15:01] mantevian commented on #14
Hello! I would like to be assigned this issue :D

[2022-10-02 15:02] thieleju commented on #13
Sure, go ahead!

[2022-10-02 15:02] thieleju commented on #14
Sure, go ahead @mantevian!

[2022-10-02 15:08] thieleju opened #16 "Add /mathquestion command using xMath API"
### Command Name

/mathquestion

### Public API Resource

https://x-math.herokuapp.com/

### Description

The bot should ask a math question from the xMath API.
The bot should also wait for a response from the user and reply with correct/incorrect and the solution.

There is an optioni to set max and min for the generated numbers.
https://x-math.herokuapp.com/api/random?max=400&min=20

### Impleme

[2022-10-02 15:10] FreemRL commented on #16
Hello again, I would like to work on that. Can you assign me?

[2022-10-02 15:17] thieleju commented on #16
Hey @FreemRL, since you already contributed to this repository I'd prefer for new people to get a chance to contribute.
Keep contributing ❤️

[2022-10-02 15:18] ramdhanihendrie commented on #16
I am interested in this issue. please assign it to me

[2022-10-02 15:20] thieleju commented on #16
Sure, go ahead! @ramdhanihendrie

[2022-10-02 15:23] thieleju commented on #2
Great contribution! Please check the requested change in #15

[2022-10-02 15:28] CH1NRU5T commented on #10
Hey, I have a doubt.
Do I have to implement only the true/false type questions or other types also?

[2022-10-02 15:33] Madhvik007 commented on #9
Can You Assign This to Me? I can do it in an hour

[2022-10-02 15:35] thieleju commented on #9
Hi @Madhvik007, this issue is already assigned to JatinSingh08.
But you can create your own issue and I'll assign you to it.

[2022-10-02 15:39] thieleju commented on #10
Hi, you don't have to implement other types but you can if you want.

[2022-10-02 15:43] thieleju commented on #2
Merged PR #15
The `hacktoberfest-accepted` label has been assiged to your PR @jeremiaaxel
Great work ❤️

[2022-10-02 16:10] thieleju opened #17 "Add /shortenLink command using Go Tiny API"
### Command Name

/shortenLink [link]

### Public API Resource

https://github.com/robvanbakel/gotiny-api#usage

### Description

The bot should accept the `link` parameter and create a POST request to https://gotiny.cc/api to shorten it.
The shortened url should be returned to the user.

Response
[code]

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement

[2022-10-02 16:13] Madhvik007 commented on #17
Can you assign me for this?

[2022-10-02 16:15] thieleju commented on #17
@Madhvik007 Sure, go ahead!

[2022-10-02 16:36] BiswajitSahoo-tech opened #18 "Add /catfact command using meowfacts"
### Command Name

/catfact

### Public API Resource

https://meowfacts.herokuapp.com/

### Description

`/catfact` **command display random facts about cats.**

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to your public API
- Format the data in a readable way and send it to th

[2022-10-02 16:37] BiswajitSahoo-tech commented on #18
Please assign this issue to me
Thanks

[2022-10-02 16:44] relby commented on #13
Hello there. I have two questions:
1) What format should I use to render a date time of the starting and ending of the contest?
2) Is it okay that I would use third-party library [luxon](https://moment.github.io/luxon) to work with date and time?

[2022-10-02 16:50] thieleju commented on #14
Merged PR #19
Thanks for contributing @mantevian ❤️

[2022-10-02 16:50] #14 closed

[2022-10-02 16:52] thieleju commented on #18
Sure, go ahead!

[2022-10-02 16:57] CH1NRU5T commented on #10
Hey, I'm sorry but I won't be able to complete the issue as I'm facing problems with working with receiving the response from the user.
Could you help me with that?

[2022-10-02 17:02] mantevian commented on #14
Very glad to contribute to a well managed project, I'll stay around to look out for anything new 😄

[2022-10-02 17:09] thieleju commented on #10
@CH1NRU5T Sure :) I found some code examples, maybe reacting with an emoji is a good option to wait for user feedback.

https://github.com/discordjs/guide/blob/main/code-samples/popular-topics/reactions/14/awaiting-reactions.js#L15
https://discordjs.guide/popular-topics/reactions.html#awaiting-reactions

If this does not help you, please say so :)

[2022-10-02 17:15] thieleju commented on #14
Thank you @mantevian :)
Everyone is welcome to create a new issue (theres an issue form), but since you already contributed to this repository I'd prefer for new people to get the spot.

But you did an amazing job 🚀 Thanks

[2022-10-02 17:27] CH1NRU5T commented on #10
I'm getting InteractionAlreadyReplied error, do I have to implement the given code in index.js in order for it to work?

[2022-10-02 17:35] thieleju commented on #10
This can probably be done in the execution function of the command. Unfortunately I don't have time today

[2022-10-02 17:47] thieleju opened #20 "Add /dictionary command using Free Dictionary API"
### Command Name

/dictionary [word]

### Public API Resource

https://dictionaryapi.dev/

### Description

The command should take one required parameter `word`.
This word should be sent to `https://api.dictionaryapi.dev/api/v2/entries/en/<word>` to get the dictionary entry.
The reply to the user should contain information about the definition and synonyms of the word. (Additional information wel

[2022-10-02 17:51] neupanedipen commented on #20
Can you assign this to me?

[2022-10-02 17:54] thieleju commented on #20
Sure, go ahead! @neupanedipen

[2022-10-02 18:06] MaestroDagan opened #21 "Add /dogfact command using DogApi"
### Command Name

/dogfact

### Public API Resource

https://github.com/kinduff/dog-api

### Description

/dogfact returns a random dogfact!

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to your public API
- Format the data in a readable way and send it to the user
- Use the [d

[2022-10-02 18:07] MaestroDagan commented on #21
I'll start with this rn! So pls assign me!

[2022-10-02 18:37] thieleju commented on #21
Sure, go ahead @MaestroDagan!

[2022-10-02 18:59] CH1NRU5T commented on #10
Hey there, I solved the issue (It took a lot of debugging, ultimately the issue was regarding the intents).
I have made the PR. Do I have to tag the PR as hacktoberfest ?

[2022-10-02 19:58] neupanedipen commented on #20
#27

[2022-10-02 19:59] #13 closed

[2022-10-02 20:01] thieleju commented on #13
@relby Your PR #22 is merged and labeled with the `hacktoberfest-accepted` tag. Thanks for your contribution ❤️

[2022-10-02 21:31] thieleju commented on #10
@CH1NRU5T I reviewed your PR #24  and added the `hacktoberfest-accepted` label.

Thank you for contributing ❤️

[2022-10-02 21:31] #10 closed

[2022-10-02 21:32] thieleju commented on #16
If there are any questions, please feel free to ask!

[2022-10-02 21:48] thieleju commented on #21
Hey @MaestroDagan! Well done! I reviewed you PR #23 and requested a change.

Let me know if you need help with that :)

[2022-10-02 21:55] thieleju commented on #18
@BiswajitSahoo-tech Thank you for your great contribution!

[2022-10-02 21:55] #18 closed

[2022-10-02 22:06] thieleju commented on #20
@neupanedipen Well done, I reviewed your PR #27 and requested 2 changes.

Feel free to ask me if I can help :)

[2022-10-02 22:24] thieleju opened #30 "Add /motivation command using Motivational Quotes API"
### Command Name

/motivation

### Public API Resource

https://nodejs-quoteapp.herokuapp.com/

### Description

The bot should reply with a random motivational quote (Maybe wrap 'quote' in `backticks`)
https://nodejs-quoteapp.herokuapp.com/quote

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.c

[2022-10-02 22:28] thieleju opened #31 "Add /breakingbad command using Breaking Bad Quotes API"
### Command Name

/breakingbad

### Public API Resource

https://breakingbadquotes.xyz/

### Description

The bot should reply with a random quote from breaking bad.
https://api.breakingbadquotes.xyz/v1/quotes

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to your public API
- F

[2022-10-02 22:39] MyRoWARE commented on #31
Could I get assigned to this? @thieleju

[2022-10-02 22:45] komen205 commented on #30
can I get assigned this?

[2022-10-02 22:55] thieleju commented on #31
Sure, go ahead!

[2022-10-02 22:59] thieleju commented on #30
Of course! I'll assign you

[2022-10-02 23:30] thieleju opened #33 "Add /crypto command using public CoinStats API"
### Command Name

/crypto [currency]

### Public API Resource

https://documenter.getpostman.com/view/5734027/RzZ6Hzr3

### Description

The bot should have a required parameter [currency] and reply with useful statistics.
Also if possbile, display the image for selected currency.

https://api.coinstats.app/public/v1/coins?skip=0&limit=5&currency=EUR

### Implementation Details

- Add a new javasc

[2022-10-02 23:46] thieleju opened #34 "Add /weather command using Open Metro Free Weather API"
### Command Name

/weather [city]

### Public API Resource

https://open-meteo.com/en

### Description

The bot should have a second required parameter [city] with a dropdown menu of all available cities.
Add a few cities with their latitude and longitude and use these to request the weather.

The `WMO Weather interpretation codes` could be useful (parameter: weathercode)
https://open-meteo.com/en

[2022-10-02 23:46] FreemRL commented on #16
Since he removed his assignment, can I work on this? :D

[2022-10-02 23:51] thieleju commented on #16
Yes, the issue is yours 😄

[2022-10-03 01:28] FreemRL commented on #16
@thieleju thanks man <3 I created a PR for this issue (#35) ^^

[2022-10-03 01:34] Ahsan-Ehtesham commented on #34
Working on this issue, kindly assign this to me

[2022-10-03 02:15] navya-Singla-1-3-0-9 commented on #34
I would love to work on this. Please assign this issue to me.

[2022-10-03 03:07] Nktech-Official commented on #33
Assign this to me

[2022-10-03 03:25] johngerome opened #36 "Reporting a bugs or other issues not related to adding of command"
### Command Name

N/A

### Public API Resource

N/A

### Description

Hi,  there are instances that I want to submit bugs or issues not related to adding of command.
As of now, the only type is `New Command`.
Can we have an issue template for bugs or just for discussions? Like this issue for example.
What do you think?

### Implementation Details

N/A

### Code of Conduct

- [X] I agree to follow

[2022-10-03 03:36] Nktech-Official commented on #33
Can you guide me how can i test the command on local environment

[2022-10-03 05:05] anirudh0806 commented on #34
I am interested. What is the procedure to contribute? Please assign this issue to me

[2022-10-03 05:05] anirudh0806 commented on #33
I am interested. What is the procedure to contribute? Please assign this issue to me

[2022-10-03 05:16] neupanedipen commented on #20
I have made the requested changes and made a PR #37

[2022-10-03 05:18] johngerome commented on #33
Please see the [README.md](https://github.com/thieleju/statsbot#sparkles-how-to-contribute)

[2022-10-03 05:19] johngerome commented on #33
Kindly see [Project Setup](https://github.com/thieleju/statsbot#project-setup)

[2022-10-03 05:40] johngerome opened #38 "Add /server-ip command using myip.com"
### Command Name

~~/myip~~ /serverip

### Public API Resource

https://www.myip.com/api-docs/

### Description

~~Convenient command to check your IP.~~
Command to check the servers public IP

Sample output could be

**My Public IP Address**: 111.222.123.123
**My IP Location**: Japan

Adding country flags would be nice I think.

### Implementation Details

- Add a new javascript file in the `comm

[2022-10-03 05:40] Nktech-Official commented on #33
@thieleju  @johngerome  I am currently working on this issue please assign this to me to avoid any confusion and getting duplicate PR

[2022-10-03 05:48] BiswajitSahoo-tech commented on #38
I would like to implement this commands, please assign this to me
Thanks

[2022-10-03 05:49] johngerome commented on #33
@thieleju will decide. I'm not the maintainer actually, I'm looking for issues I could work on 😅

[2022-10-03 05:57] BiswajitSahoo-tech opened #39 "Add /holidays command using Abstract Holidays API"
### Command Name

/holidays

### Public API Resource

https://www.abstractapi.com/holidays-api

### Description

`/holidays` command replies with a list of holidays.
It has **country**, **year,** and **day** options
and will show a list of holidays specific to the options provided

e,g -` /holiday country|IN year|2022`
results - holidays list from India in 2022 in an embedded form

### Implementat

[2022-10-03 05:58] BiswajitSahoo-tech commented on #39
I would like to work on this command. Please assign this to me @thieleju
Thanks

[2022-10-03 06:13] CH1NRU5T commented on #38
I would like to contribute to this command :)

[2022-10-03 07:24] androlover98 opened #40 "Add /animequote command using the Anime-chan API"
### Command Name

/animequote

### Public API Resource

https://animechan.vercel.app/

### Description

The bot will reply with a random anime quote when the command /animequote is called.
https://animechan.vercel.app/api/random

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to

[2022-10-03 07:25] androlover98 commented on #40
Please assign this issue to me

[2022-10-03 07:53] appledora commented on #36
@thieleju I would like to work on this, could you please assign me?

[2022-10-03 08:30] komalsoni4 commented on #36
please assign it to me

[2022-10-03 08:54] Nktech-Official commented on #40
Please Assign the issume

[2022-10-03 09:38] MaestroDagan opened #44 "Add /dogpic command using RandomDog"
### Command Name

/dogpic

### Public API Resource

https://random.dog/

### Description

This command will respond with a random picture of a dog.

### Implementation Details

_No response_

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

[2022-10-03 09:38] MaestroDagan commented on #44
Can i get assigned to this? @thieleju

[2022-10-03 09:40] MaestroDagan opened #45 "Add /duckpic command using RandomDuck"
### Command Name

/duckpic

### Public API Resource

https://random-d.uk/api

### Description

This command will respond with a random picture of a duck.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/docs/intro) to your public API
- Format the data in a readable way and send it to the user

[2022-10-03 09:41] MaestroDagan opened #46 "Add /foxpic command using RandomFox"
### Command Name

/foxpic

### Public API Resource

https://randomfox.ca

### Description

This command will respond with a random picture of a fox.

### Implementation Details

_No response_

### Code of Conduct

- [ ] I agree to follow this project's Code of Conduct

[2022-10-03 09:53] moazfarrukh commented on #45
Can i work on this issue?

[2022-10-03 09:54] satyamrs00 commented on #46
I am working on this .
Assign it to me

[2022-10-03 10:04] PranjalAgni opened #48 "Add /uptime command"
### Command Name

/uptime

### Public API Resource

None

### Description

This bot will reply with how much time its been up.

For example, if we invoke this command it will say:

```StatsBot has been up since Sun, 08 Nov 2020 10:31:04 GMT for a total of: 1 year, 10 months, 24 days, 23 hours, 30 minutes and 11 seconds```

### Implementation Details

- Add a new javascript file in the `commands` f

[2022-10-03 10:04] PranjalAgni commented on #48
Hi @thieleju I would like to work on this please assign this to me

[2022-10-03 10:53] #21 closed

[2022-10-03 10:54] thieleju commented on #21
@MaestroDagan Thanks for your contribution ❤️
Your PR #23 was merged and labeled with the `hacktoberfest-accepted` label

[2022-10-03 10:57] CH1NRU5T commented on #46
May I work on this?

[2022-10-03 11:00] thieleju commented on #34
@Ahsan-Ehtesham You're assigned to this issue, please go ahead and raise a pr :)
I'm sorry @navya-Singla-1-3-0-9 and @anirudh0806, but first come, first served. Keep contributing ❤️

[2022-10-03 11:03] thieleju commented on #33
Hey @Nktech-Official and @johngerome 👋
Since @Nktech-Official was first, I'm going to assign you to this issue. But please first ask to be assigned to an issue before working on it and raising a pr.
Keep contributing ❤️

[2022-10-03 11:11] thieleju commented on #36
Hi, I like your idea @johngerome!
You're right, adding another issue form to report bugs might come in handy :)

@appledora @komalsoni4 Since john created this issue, I'm going to assign him, but feel free to create your own issue.
Keep contributing ❤️

[2022-10-03 11:17] abhishekpatil4 commented on #45
@MaestroDagan   Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:17] abhishekpatil4 commented on #44
@MaestroDagan   Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:17] abhishekpatil4 commented on #40
@androlover98   Assign me this issue. I'm a full-stack developer (MERN Stack). HTML CSS JS NodeJs ExpressJs Bootstrap Figma Tailwindcss

[2022-10-03 11:35] thieleju commented on #44
Hey @MaestroDagan, thank you for opening this issue :)
I updated the Contribution Guidelines to only allow one pr/issue per person.
Since you already contributed in #21, I'm not going to assign this issue to you.

@abhishekpatil4 Great, please go ahead!

[2022-10-03 11:38] thieleju commented on #46
Hey @MaestroDagan, thank you for opening this issue :)
I updated the Contribution Guidelines to only allow one pr/issue per person.
Since you already contributed in #21, I'm not going to assign this issue to you.

@satyamrs00 I'll assign you to this issue, but for the future, please wait until you get assigend, before raising a pr :)

[2022-10-03 11:40] thieleju commented on #39
Hey @BiswajitSahoo-tech, thank you for opening this issue :)
I updated the Contribution Guidelines to only allow one pr/issue per person.
Since you already contributed in #18, I'm not going to assign this issue to you.

Keep contributing ❤️

[2022-10-03 11:46] thieleju commented on #38
Hey @johngerome, thank you for opening this issue :)
I updated the Contribution Guidelines to only allow one pr/issue per person.
Since you're already assigned to #36 , I'm not going to assign this issue to you.

@BiswajitSahoo-tech @CH1NRU5T You two already contributed to this repository too, please look for other opportunities to contribute ❤️

[2022-10-03 11:48] thieleju commented on #40
@androlover98 Nice idea! I'll assign this issue to you :)

[2022-10-03 11:52] thieleju commented on #38
Since the server is making the request to the api, this might not work.
More information needed

[2022-10-03 11:53] thieleju commented on #48
@PranjalAgni Great idea! I'll assign you to this issue, please go ahead :)

[2022-10-03 11:57] satyamrs00 commented on #46
I have already created a pr #51 for this

[2022-10-03 12:00] MaruthiKo commented on #39
I would love to work on this issue, please assign it to me

[2022-10-03 12:05] thieleju commented on #20
For the future, if someone requested changes on your pr, you can go to your local branch and just push the remaining changes, it automatically gets added to the old pull request :)

I merged your pr #37 and labeled it with the `hacktoberfest-accepted` label

Thanks for your great contribution ❤️

[2022-10-03 12:07] AllDayAlone commented on #38
I can investigate. Feel free to assign me :)

[2022-10-03 12:08] thieleju commented on #39
@MaruthiKo Sure, please go ahead! :)

[2022-10-03 12:09] thieleju commented on #38
@AllDayAlone Sure, go ahead! :)

[2022-10-03 12:13] PranjalAgni commented on #48
Sure going forward I will keep this in mind

[2022-10-03 12:17] thieleju commented on #33
@Nktech-Official Great work!
I reviewed your pr #41 and requested a change.

[2022-10-03 12:22] thieleju commented on #46
@satyamrs00 I reviewed your pr #51, approved and labeled it with the `hacktoberfest-accepted` label.
Great contribution ❤️

[2022-10-03 12:28] ethandpark opened #53 "Add /apod command using NASA Astronomy Picture of the Day"
### Command Name

/apod

### Public API Resource

https://github.com/nasa/apod-api

### Description

The bot should take query the NASA Astronomy Picture of the Day API to return whatever the current image of the day is, maybe including the short blurb/author credits/etc. Could potentially add extra flags for things like specifying a different day if a user wants to look at other days.

### Implem

[2022-10-03 12:28] ethandpark commented on #53
Hey @thieleju I would love to work on this if you want to assign it to me!

[2022-10-03 12:29] thieleju commented on #30
@komen205 Great work!
I reviewed you pr #43 and requested a small change.

[2022-10-03 12:38] #16 closed

[2022-10-03 12:47] #48 closed

[2022-10-03 12:48] thieleju commented on #48
@PranjalAgni Well done!
Your pr #50 has been approved and labeled with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-03 12:49] thieleju commented on #53
Great idea! Sure, go ahead!

[2022-10-03 12:54] thieleju commented on #33
@Nktech-Official Well done 🚀
I approved your pr #41 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-03 12:54] #33 closed

[2022-10-03 12:59] johngerome commented on #38
Good catch. Need further investigation.

[2022-10-03 13:02] thieleju commented on #30
@komen205 Well done!
I merged your pr #43 and labeled it with the `hacktoberfest-accepted` label!

Keep contributing ❤️

[2022-10-03 13:02] #30 closed

[2022-10-03 13:03] bungambohlah commented on #1
any updates about this? @Miablo @thieleju

[2022-10-03 13:06] thieleju commented on #33
@Nktech-Official Yes, there were too many people wanting to do multiple issues

[2022-10-03 13:11] Miablo commented on #1
Still working on it

On Mon, Oct 3, 2022 at 9:04 AM Afif Abdillah Jusuf ***@***.***>
wrote:

[2022-10-03 16:09] MaruthiKo commented on #39
Hey, is there a slack/discord channel link for the project, I am having few doubts regarding the issue

[2022-10-03 16:39] thieleju commented on #39
No, there's no slack/discord :/
But you can ask me here about your doubts :)

[2022-10-03 16:42] MaruthiKo commented on #39
Oh alright, I'm very new to using Api and contributing to OpenSource, can u please guide me on how to complete this issue
![Screenshot (151)](https://user-images.githubusercontent.com/63769209/193632370-17b800ce-a152-4fa0-8a00-1d6f9b56215b.png)
This is my current progress on the issue

[2022-10-03 16:53] thieleju commented on #39
I just noticed that the api mentioned in the issue requires an api key.
This is rather inconvenient because everyone has to generate their own api key for it to work...

But since I did not find another public Holidays API without requiring an api key, I'd say I close this issue and you can work on another issue with another (more easy to handle) api.

If you want you can choose out of [this](http

[2022-10-03 17:19] alexandrosyiangou opened #54 "Add /dogfacts command using Kinduff Dog API"
### Command Name

/dogfacts

### Public API Resource

https://kinduff.github.io/dog-api/

### Description

The bot will query on the Kinduff Dog API and return facts about dogs. The API always returns a single random fact about dogs, unless specified to return more.

The API takes one optional parameter (?number=5)

Should have features:
-  The bot will take an optional parameter of the number of

[2022-10-03 17:20] alexandrosyiangou commented on #54
Any other suggestions are welcome :) Can I be assigned this?

[2022-10-03 17:21] abhishekpatil4 commented on #44
@thieleju To do this, I need to create a bot using my discord account. Can you please provide me with your/ your organization discord account?

[2022-10-03 17:21] MaruthiKo commented on #39
Hoo, that's what I was thinking, if there is an open issue, I'm ready to work on any please feel free to assign me any one of your choice and which u feel can be more useful
Thank you

[2022-10-03 17:26] abhishekpatil4 commented on #44
@thieleju I'm getting token invalid error

[2022-10-03 17:55] chinmayayy opened #55 "Add /locateISS command using Open-Notify-API"
### Command Name

/locateISS

### Public API Resource

http://open-notify.org/Open-Notify-API/

### Description

The command returns current latitude and longitude locations of International Space Station.
If possible, would like to map these outputs to the actual place name as well and display it as a well-formatted sentence.

### Implementation Details

- Add a new javascript file in the `comman

[2022-10-03 17:58] thieleju commented on #44
Hey @abhishekpatil4, it is required to already own a discord account to set this bot up locally.
You can follow [this Guide](https://discordjs.guide/preparations/setting-up-a-bot-application.html#creating-your-bot) on how to get started.
If you need help, feel free to ask me :)

[2022-10-03 18:16] jyotik09 commented on #55
Hi! I would like to take this up. Can you assign this ?

[2022-10-03 18:56] thieleju commented on #54
Hey @alexandrosyiangou!
There already is a dogfact command. I'm closing this issue, if you want you can open another issue with another idea :)

[2022-10-03 18:56] #54 closed

[2022-10-03 18:57] thieleju commented on #55
Hi @jyotik09 since chinmayayy created this issue, I think he will be working on this.

Hey @chinmayayy would you like to be assiged to this issue? Great idea :)

[2022-10-03 19:07] alexandrosyiangou commented on #54
@thieleju  Didn't notice :D I will come up with something else then, thank u!

[2022-10-03 19:11] chinmayayy commented on #55
*she and sure kindly assign it to me, thanks!

[2022-10-03 19:14] thieleju commented on #45
@moazfarrukh Please rename the command to /duckpic :)

[2022-10-03 19:21] thieleju opened #56 "Add /websiteicon command using Icon Horse API"
### Command Name

/websiteicon [domain]

### Public API Resource

https://icon.horse/

### Description

The command should require another parameter.
This parameter is the domain name of a website like `google.com` or `discord.com`.
The api returns the favicon of the site, which then should be returned to the user.

Example:
`https://icon.horse/icon/discord.com`

### Implementation Details

- Add

[2022-10-03 19:22] thieleju commented on #56
@MaruthiKo is going to work on this issue.

[2022-10-03 19:23] thieleju commented on #39
@MaruthiKo I created a new issue for you, can you comment something so I can assign you to the issue? :)

[2022-10-03 19:23] #39 closed

[2022-10-03 19:43] appledora commented on #56
@thieleju hi, I would love to work on similar issues :D

[2022-10-03 19:44] abhishekpatil4 commented on #44
@thieleju Added the dog pic command and also updated the README.md with the new command. Please accept my pull request.

[2022-10-03 19:59] thieleju commented on #44
Well done, @abhishekpatil4!
I reviewed your pr #58 and requested a small change.

[2022-10-03 20:10] abhishekpatil4 commented on #44
@thieleju Did the requested changes

[2022-10-03 20:48] abhishekpatil4 commented on #44
@thieleju fixed the typing error

[2022-10-03 21:01] thieleju commented on #44
Great work @abhishekpatil4! pr #58 is merged and labeled with the `hacktoberfest-accepted` label.
Keep contributing ❤️

[2022-10-03 21:01] #44 closed

[2022-10-03 21:05] abhishekpatil4 commented on #44
@thieleju Thank you

[2022-10-03 21:55] MoncefME opened #59 "Add /bored command using boredapi"
### Command Name

/bored

### Public API Resource

https://www.boredapi.com/api/activity/

### Description

a command to generate a random activity to kill boredom , just type /bored and the bot will reply with a message suggesting what to do

### Implementation Details

- Add a new javascript file in the `commands` folder
- Implement a API request with the help of [axios](https://axios-http.com/d

[2022-10-03 21:59] Irjean commented on #59
Hey ! I'd like to work on this one, can you assign me ?

[2022-10-03 22:00] MoncefME commented on #59
I want to be assigned to work on this , for hacktoberfest 😄

[2022-10-03 22:29] thieleju commented on #59
@MoncefME Sure, go ahead :)

@Irjean Since MoncefME created this issue, I'll assign him, but you can open your own issue.

[2022-10-03 23:03] zboutchyard opened #60 "Add /chuck command using Chuck Norris Jokes api"
### Command Name

/chuck

### Public API Resource

https://api.chucknorris.io/

### Description

A command that will allow you to pull a random chuck norris joke from endpoint https://api.chucknorris.io/jokes/random

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data

[2022-10-03 23:16] zboutchyard commented on #60
I figured this would be a fun way to start out hacktoberfest. If this seems like a good feature to add, could you please assign this to me?

[2022-10-03 23:21] thieleju commented on #60
Sure, nice idea @zboutchyard!

[2022-10-04 01:39] MaruthiKo commented on #56
Sure @thieleju I will start working on this issue right now

[2022-10-04 06:13] thieleju commented on #56
Sorry @MaruthiKo, I made a mistake. You're assigned to this now :)

@appledora Sorry to unassign you again, but if you want you can open a new issue.

[2022-10-04 06:46] maxiwolleb opened #65 "Add /joke command using Joke API"
### Command Name

/joke

### Public API Resource

https://v2.jokeapi.dev/joke/Any

### Description

Calls API and send back joke

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.js](https://discordjs.gui

[2022-10-04 06:50] alexandrosyiangou opened #66 "Add /npm command using NPM Registry API"
### Command Name

/npm

### Public API Resource

https://github.com/npm/registry/blob/master/docs/REGISTRY-API.md

### Description

The bot will query on the NPM Registry API and return defails about packages registered on the NPM. The api endpoint can be found here https://registry.npmjs.org

Parameters:
- Required - package name:  The package's name that the user wants to get its details
- Optio

[2022-10-04 06:51] alexandrosyiangou commented on #66
I am back with a fresh idea ❤️ Any other suggestions are welcome ^_^ Can I be assigned this?

[2022-10-04 07:02] ItzNesbroDev opened #67 "Add /avatar command using no api's"
### Command Name

/avatar

### Public API Resource

no api

### Description

Show user avatar or mentioned user avatar

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.js](https://discordjs.guide/interac

[2022-10-04 07:02] ItzNesbroDev commented on #67
Can i work on this?

[2022-10-04 07:34] Sheikh566 commented on #66
Please assign it to me.

[2022-10-04 08:42] maxiwolleb commented on #65
please review my pr

[2022-10-04 08:47] thieleju commented on #65
Well done @maxiwolleb!
I reviewed you pr #68 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-04 08:47] #65 closed

[2022-10-04 08:53] maxiwolleb opened #69 "Add /whatshouldieat command using The Meal DB"
### Command Name

/whatshouldieat

### Public API Resource

https://www.themealdb.com/api.php

### Description

Api that gives you a random Recipe and tells you what to eat

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the user

[2022-10-04 08:53] maxiwolleb commented on #69
Can you assign it to me?

[2022-10-04 08:54] #67 closed

[2022-10-04 09:04] thieleju commented on #66
Great idea! @alexandrosyiangou :)

@Sheikh566 Sorry, alexandro created this issue and will be assigned to it

[2022-10-04 09:04] thieleju commented on #69
Sure, go ahead!

[2022-10-04 09:57] ItzNesbroDev opened #70 "Add /meme command using Reddit Random Memes Api"
### Command Name

/meme

### Public API Resource

[reddit.com/r/memes/random/.json](https://www.reddit.com/r/memes/random/.json)

### Description

Show random memes

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use th

[2022-10-04 09:58] ItzNesbroDev commented on #70
Can i work on this issue?

[2022-10-04 10:21] EdkoPitonak commented on #70
Hi i would like to work on this issue if its is possible

[2022-10-04 11:07] thieleju commented on #70
Nice idea! @ItzNesbroDev

[2022-10-04 11:19] HKABIG commented on #70
Can I work on this

[2022-10-04 11:29] thieleju commented on #70
Hey, @HKABIG! ItzNesbroDev is already assigned to this issue. If you have an idea for a new command, feel free to open an issue yourself :)

[2022-10-04 12:28] JuriKae opened #71 "Add /catpic command using random cat API"
### Command Name

/catpic

### Public API Resource

https://aws.random.cat/meow

### Description

This command will respond with a random picture of a cat.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discor

[2022-10-04 12:29] raji2004 commented on #71
please assign me the issue

[2022-10-04 12:37] thieleju commented on #71
Hi @raji2004, since Juri created this issue, I'm assigning him. If you have an idea for a new command, feel free to create an issue and I'll look into it :)

[2022-10-04 13:08] thieleju commented on #71
@JuriKae Well done! I approved your pr #72 and labeled it with the `hacktoberfest-accepted` label.

Thanks for contributing ❤️

[2022-10-04 13:08] #71 closed

[2022-10-04 13:11] JuriKae commented on #71
Thank you for giving me the opportunity to do this. 😄

[2022-10-04 13:24] JuriKae opened #73 "Add /chucknorris command using Chuck Norris API"
### Command Name

/chucknorris

### Public API Resource

https://api.chucknorris.io/jokes/random/

### Description

Give you a random Chuck Norris joke.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.j

[2022-10-04 13:28] thieleju commented on #73
Hey, @JuriKae! thank you for opening this issue.
Unfortunately we already have an open issue with this public api ressource #60.

[2022-10-04 13:28] #73 closed

[2022-10-04 13:34] Siddharth9890 opened #74 "Add /contest command using Kontests.net api"
### Command Name

/contest

### Public API Resource

https://kontests.net/api

### Description

The bot will query for contest details specific for websites like CodeForces, CodeForces::Gym, TopCoder, AtCoder, CodeChef, CS Academy, HackerRank , HackerEarth , Kick Start , LeetCode for more details visit [Kontests](https://kontests.net/api)

### Implementation Details

- Add a new javascript file in

[2022-10-04 13:38] thieleju commented on #74
Hey @Siddharth9890 ! Thank you for opening this issue :)

Unfortunately we already have the kontests api implemented in #13.
But feel free to open another issue!

[2022-10-04 13:38] #74 closed

[2022-10-04 14:44] thieleju commented on #60
@zboutchyard I reviewed you pr #61 and labeled it with the `hacktoberfest-accepted` label.

Thank you for contributing ❤️

[2022-10-04 14:44] #60 closed

[2022-10-04 14:49] thieleju commented on #36
@johngerome Great contribution ❤️

I reviewed your pr #62 and labeled it with the `hacktoberfest-accepted` label.

[2022-10-04 14:49] #36 closed

[2022-10-04 15:19] thieleju commented on #40
@androlover98 Well done! I reviewed your pr #75 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-04 16:04] JuriKae opened #76 "Add /guessage command using agify.io API"
### Command Name

/guessage

### Public API Resource

https://agify.io/, https://random-data-api.com/

### Description

You can either guess the average age of a random name or enter a name yourself. The bot will then tell you the correct answer after guessing.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch t

[2022-10-04 16:11] thieleju commented on #76
Hey @JuriKae I'll assign you

[2022-10-04 16:54] MoncefME commented on #59
@thieleju I did a pull request , the command worked for me , can you please confirm if there is no problem , I edited the Readme.md file ( added the command )

[2022-10-04 16:56] roshan1337d opened #78 "Add /series command using CatchMyShow API"
### Command Name

/series

### Public API Resource

https://catchtheshow.herokuapp.com/api/documentation

### Description

I want to work on a command to see the details for any TV/Web series for Hacktoberfest. It will include the summary, previous and upcoming episode details, rating, and cover image of the series.

### Implementation Details

- Add a new javascript file in the `commands` folder

[2022-10-04 17:03] AloyBranCheung commented on #78
Hi @roshan1337d , I'm a  new developer and would like to give this a shot. Could you please assign me this issue for hacktoberfest? Thanks!

[2022-10-04 17:04] thieleju commented on #59
@MoncefME Well done!
I reviewed your pr #77 and labeled it with the `hacktoberfest-accepted` label.

Thanks for contributing ❤️

[2022-10-04 17:04] #59 closed

[2022-10-04 17:06] thieleju commented on #78
@AloyBranCheung Sure, great idea!

[2022-10-04 17:07] MoncefME commented on #59
<img width="727" alt="image" src="https://user-images.githubusercontent.com/77624873/193882270-dd7fd18b-2819-4ba9-a714-a9918514282b.png">
thanks dude  I hope I can contribute more , I love this project < I found it interesting since I'm new to discordjs> , should I wait to be approved by hacktoberfest?

[2022-10-04 17:11] thieleju commented on #59
@MoncefME Thank you ❤️
But unfortunately for the duration of hacktober, this repository is only 1 pr/issue per person.

I think the site needs a little more time since I did all 3 things 😄

[2022-10-04 17:16] MoncefME commented on #59
<img width="779" alt="image" src="https://user-images.githubusercontent.com/77624873/193883686-a760fc26-e7b0-4a03-9fe0-e73e021f3c15.png">
Great , this is my first PR so I don't know that I should wait 7 days , I will keep woking on other projects , thanks you so much mate, have a nice day 🥇

[2022-10-04 17:42] AloyBranCheung opened #79 "Add /picsum command using Lorem Picsum API"
### Command Name

/picsum

### Public API Resource

https://picsum.photos/

### Description

I'd like to learn making Discord Bots for Hacktoberfest by creating a command called /picsum. It will return a random stock image provided from the api.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from you

[2022-10-04 17:42] AloyBranCheung commented on #79
@thieleju Pls let me know if I did this correctly this time 😅

[2022-10-04 17:45] thieleju commented on #79
@AloyBranCheung Yes, you did everything correctly! 😄

[2022-10-04 18:49] appledora opened #83 "Add /urban command using Urban Dictionary's API"
### Command Name

/urban [term]

### Public API Resource

 https://api.urbandictionary.com/v0/define

### Description

Usnig the `/urban` with a word or term, the users will be able to get a response from the Urban Dictionary.
example: https://api.urbandictionary.com/v0/define?term=github

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-

[2022-10-04 18:49] appledora commented on #83
@thieleju could you assign me this?

[2022-10-04 20:19] thieleju commented on #56
Well done @MaruthiKo! I reviewed your pr #63 and labeled it with the `hacktoberfest-accepted` label.
I also left a small comment on your pr.

Keep contributing ❤️

[2022-10-04 20:19] #56 closed

[2022-10-04 20:34] thieleju commented on #76
@JuriKae Well done!
I reviewed your pr #82 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-04 20:34] #76 closed

[2022-10-04 20:37] thieleju commented on #83
Great idea! Sure, go ahead :)

[2022-10-04 20:57] thieleju commented on #66
Well done @alexandrosyiangou!
I reviewed your pr #81 and labeled it with the `hacktoberfest-accepted` label.

Great contribution ❤️

[2022-10-04 20:57] #66 closed

[2022-10-04 22:14] thieleju opened #84 "Add /countryInfo command using REST Countries API"
### Command Name

/countryInfo [country]

### Public API Resource

https://restcountries.com/#api-endpoints-v3-name

### Description

The bot should require a country parameter.
This parameter should be used to get data about the country

example:
https://restcountries.com/v3.1/name/germany

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axio

[2022-10-04 22:19] NotaCSstudent commented on #84
Can I do this?

[2022-10-04 22:20] thieleju commented on #84
Sure, go ahead @NotaCSstudent :)

[2022-10-05 04:20] Siddharth9890 opened #87 "Add /horoscope command using aztro.io"
### Command Name

/horoscope

### Public API Resource

https://aztro.readthedocs.io/en/latest/

### Description

The API retrieves daily horoscopes for yesterday, today, and tomorrow. It has a package for node js also which can help to build this API. It requires name of sign like aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius and pisces.

### Implement

[2022-10-05 06:08] Siddharth9890 commented on #87
Can i do this

[2022-10-05 06:25] thieleju commented on #87
@Siddharth9890 Sure, go ahead!

[2022-10-05 09:44] affanmustafa opened #89 "Add /techy command using Techy-API"
### Command Name

/techy

### Public API Resource

https://github.com/PerryPal21/Techy-API

### Description

This command generates random tech-savvy phrases. It takes no input and is executed only with the use of `/techy`

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format t

[2022-10-05 10:13] muditmahajan21 commented on #89
@affanmustafa can you assign this issue to me? I'll like to work on it

[2022-10-05 10:20] muditmahajan21 opened #90 "Add /affirmation command using affirmations.dev API"
### Command Name

/affirmation

### Public API Resource

https://www.affirmations.dev/

### Description

Writes a random affirmation message fetched from the API

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [

[2022-10-05 10:21] muditmahajan21 commented on #90
Can I add this command to the bot?

[2022-10-05 10:21] oktak commented on #89
I would like to take this. May I?

[2022-10-05 10:23] affanmustafa commented on #89
@oktak Hi. I apologize but I made this issue to work on it myself 😃 . If you'd like, you can make open another issue and work on that. Cheers

[2022-10-05 10:25] oktak commented on #89
ok, nvm

[2022-10-05 10:45] thieleju commented on #89
Nice idea! @affanmustafa

[2022-10-05 10:46] thieleju commented on #90
Sure, go ahead @muditmahajan21

[2022-10-05 11:07] ItzNesbroDev commented on #70
Hey @thieleju i changed reddit api to https://reddit-meme-api.herokuapp.com/. So is there is any problem?

[2022-10-05 11:36] oktak opened #93 "Add /onthisday command using ZenQuotes API"
### Command Name

/onthisday

### Public API Resource

https://today.zenquotes.io/

### Description

This command will return the history events happened on the same date in the past by fetching from the API.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a r

[2022-10-05 11:37] oktak commented on #93
Can I take this one, please? Thanks!

[2022-10-05 12:07] thieleju commented on #93
Nice idea! @oktak Sure, go ahead.

[2022-10-05 18:11] #79 closed

[2022-10-05 18:12] thieleju commented on #79
@AloyBranCheung Well done!
I approved your pr #86 and labeled it with the `hacktober-accepted` label.

Keep contributing ❤️

[2022-10-05 18:22] deepakgohil009 opened #96 "Add /number command using numbersapi.com"
### Command Name

/number

### Public API Resource

http://numbersapi.com/

### Description

This command will return an interesting fact about numbers by fetching from the API.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the

[2022-10-05 18:22] deepakgohil009 commented on #96
Can I work on this issue ?

[2022-10-05 18:28] codeansh20 commented on #96
How can I input the value

[2022-10-05 18:51] thieleju commented on #96
Hey @deepakgohil009 thank you for opening this issue :)
Unfortunately we already added this api here #14, but feel free to open a new issue if you have another idea.

[2022-10-05 18:51] #96 closed

[2022-10-05 18:52] deepakgohil009 commented on #96
Sure.

[2022-10-05 19:04] thieleju commented on #89
@affanmustafa Well done!
I reviewed your pr #94 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-05 19:04] #89 closed

[2022-10-05 19:11] thieleju commented on #90
Well done! @muditmahajan21
I approved your pr #92 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-05 19:11] #90 closed

[2022-10-05 19:13] muditmahajan21 commented on #90
Thanks!

[2022-10-05 19:22] moazfarrukh commented on #45
i have made the pull request

[2022-10-05 19:49] thieleju commented on #70
@ItzNesbroDev Thats perfectly fine :) I updated you pr #91

[2022-10-05 20:02] thieleju commented on #78
@roshan1337d I reviewed your pr #88 and labeled it with the `hacktoberfest-accepted` label.

Amazing contribution ❤️

[2022-10-05 20:02] #78 closed

[2022-10-06 00:21] devsargam opened #98 "Add shortner command using shrtcode API"
### Command Name

/shortner

### Public API Resource

https://api.shrtco.de/v2/

### Description

This command will create short link for given URL

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.js](ht

[2022-10-06 00:22] devsargam commented on #98
Can I work on this? :smile_cat:

[2022-10-06 01:39] shikhar13012001 commented on #98
I want to work on this @devsargam  Can you please assign this issue?

[2022-10-06 05:10] anks321 opened #100 "Add /GIF command using GIPHY"
### Command Name

/GIF

### Public API Resource

https://api.giphy.com/v1/gifs

### Description

This command returns a GIF from the API based on a search query term, a random GIF, or a trending GIF.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable w

[2022-10-06 05:40] Soumi150 opened #101 "Add /kanye command using Kanye Rest API"
### Command Name

/kanye

### Public API Resource

https://api.kanye.rest

### Description

This command will generate a random Kanye West quote.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.js](http

[2022-10-06 05:41] Soumi150 commented on #101
I would like to work on this. Please assign me.

[2022-10-06 05:44] deepakgohil009 opened #102 "Add /fruit command using Fruityvice API"
### Command Name

/fruit

### Public API Resource

https://www.fruityvice.com/
https://www.fruityvice.com/api/fruit/apple

### Description

Get interesting information about fruit.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) fetch the data from your public API
- Format the data in a readable way and send it to t

[2022-10-06 05:45] deepakgohil009 commented on #102
Please assign me this issue.

[2022-10-06 08:08] thieleju commented on #98
@devsargam Unfortunately we already have an open issue with this topic #17.

[2022-10-06 08:08] #98 closed

[2022-10-06 08:09] thieleju commented on #101
@Soumi150 Sure, go ahead!

[2022-10-06 08:10] thieleju commented on #102
@deepakgohil009 Sure, go ahead!

[2022-10-06 08:11] thieleju commented on #100
Nice idea! @anks321

[2022-10-06 08:12] thieleju commented on #100
Why did you close this issue?

[2022-10-06 17:10] thieleju commented on #1
@Miablo Great work! 🚀
I approved your pr #64 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-06 17:10] #1 closed

[2022-10-06 17:19] thieleju commented on #93
@oktak Great contribution 🚀
I approved your pr #95 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-06 17:19] #93 closed

[2022-10-06 17:24] #45 closed

[2022-10-06 17:25] thieleju commented on #45
@moazfarrukh Well done!
I approved your pr #97 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-06 17:38] thieleju commented on #102
@deepakgohil009 Good work!
I approved your pr #103 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-06 17:38] #102 closed

[2022-10-07 01:31] NotaCSstudent commented on #84
@thieleju Ive been having trouble with node on my end, i wont be able to do the project sorry about that. D:

[2022-10-07 08:54] thieleju commented on #84
@NotaCSstudent If you want I can help you set up the project :) What exactly doesn't work?

[2022-10-07 09:08] aakashgarg-19 commented on #84
@thieleju  Can I work on this issue :)

[2022-10-07 09:22] aakashgarg-19 commented on #84
@thieleju  Please assign me this issue

[2022-10-07 09:24] thieleju commented on #84
@aakashgarg-19 Let's wait for @NotaCSstudent to answer. If he doesn't want to work on this issue, I'll assign you :)

But you can always create your own issue (with an issue form) if you have an idea for a new command

[2022-10-09 08:13] Sheikh566 opened #106 "Add /ayah command using QuranAPI"
### Command Name

/ayah

### Public API Resource

https://quran.api-docs.io/v4/getting-started/introduction

### Description

This command will retrieve Arabic verses with an English translation of the Quran by specifying the verse number and chapter
or get a random verse when no key is given

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://ax

[2022-10-09 08:14] Sheikh566 commented on #106
Can I do this command?

[2022-10-09 10:42] Sheikh566 opened #107 "Add /choose command"
### Command Name

/choose

### Public API Resource

none

### Description

This command will randomly select any item from a given list.
For example:
**Toss:**
`/choose heads tail`
Output: `tail`

**Lucky Draw:**
`/choose Albert Sofia Nick Ali John`
Output: `Albert`

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to

[2022-10-09 10:42] Sheikh566 commented on #107
Can you assign it to me?

[2022-10-09 21:33] aakashgarg-19 commented on #84
@thieleju I guess he doesn't want to work this issue. Please assign me this issue.

[2022-10-10 06:11] thieleju commented on #106
Sure, go ahead! @Sheikh566

[2022-10-10 06:15] thieleju commented on #107
@Sheikh566 Thank you for opening this issue.
It's a nice idea, but the command does not fetch data from an api. Also only one issue per person is allowed during hacktoberfest.
But I assigned you your first issue #106 :)

[2022-10-10 06:15] #107 closed

[2022-10-10 06:16] thieleju commented on #84
Alright, I'll assign you @aakashgarg-19 :)

[2022-10-10 10:18] AllDayAlone commented on #38
Hey @thieleju,

Indeed, the server IP is shown when you call myip.com in the bot. Moreover, it's not possible to get the user IP at all to comply with European laws. All requests go through Discord central servers where this information is hidden. An example thread that shows what I'm talking about: https://support.discord.com/hc/en-us/community/posts/360040211851-API-should-provide-a-user-s-IP-as

[2022-10-10 11:28] thieleju commented on #38
@AllDayAlone Thank you for researching!

[2022-10-10 11:30] thieleju commented on #38
@AllDayAlone Thank you for researching!
I like your suggestion with the `/server-ip` command. I'm renaming the name of the issue to /server-ip, feel free to raise a pr :)

[2022-10-10 18:10] Iqrar99 opened #109 "Add /randomcolor command using xColors API"
### Command Name

/randomcolor

### Public API Resource

https://x-colors.herokuapp.com/api/random/
https://singlecolorimage.com/api.html

### Description

The command will call an API to receive a random color in HEX and RGB format. Then, it will show what the color looks like along with the color code.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios

[2022-10-10 18:11] Iqrar99 commented on #109
I'm currently working on this. Please assign me.

[2022-10-10 18:18] gaurav-iitb commented on #109
please assign this to me

[2022-10-10 18:20] thieleju commented on #109
@Iqrar99 Sure, go ahead!

@gaurav-iitb Iqrar99 was first, but you can create your own issue if you have another idea :)

[2022-10-10 19:40] thieleju commented on #109
@Iqrar99 Well done!
I approved your pr #110 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-10 19:40] #109 closed

[2022-10-10 21:11] thieleju commented on #38
@AllDayAlone Well done!
I approved your pr #111 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-10 21:11] #38 closed

[2022-10-11 05:09] DevWig opened #112 "Add /guessnationality command using the Nationalize.io api"
### Command Name

/guessnationality

### Public API Resource

https://nationalize.io/

### Description

This command will be used along with a person's name and will return  a guess as to what nationality that person is.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format

[2022-10-11 05:09] DevWig commented on #112
Please assign me to this issue. :)

[2022-10-11 06:23] thieleju commented on #112
Hi @DevWig thank you for opening this issue.
The api seems to require an api key. Unfortunately only apis without an api key are allowed :/

[2022-10-11 13:54] DevWig commented on #112
@thieleju that makes sense. sorry about that. I'll find another api. :)

[2022-10-11 14:01] DevWig commented on #112
Hey @thieleju Please review changes to issue and assign to me if approved.

[2022-10-11 14:04] thieleju commented on #112
Nice idea! I'll assign you :)

[2022-10-11 21:19] aakashgarg-19 commented on #84
@thieleju Done , PR #113

[2022-10-12 14:52] thieleju commented on #112
@DevWig Great contribution 🚀
I approved your pr #114 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-12 14:52] #112 closed

[2022-10-12 14:57] thieleju commented on #84
Great work @aakashgarg-19 🚀
I approved your pr #113 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-12 14:57] #84 closed

[2022-10-12 19:25] aakashgarg-19 opened #115 "[Bug] Wrong formatting in countryInfo command"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior?

![image](https://user-images.githubusercontent.com/71538277/195429991-33b199b6-5366-44bd-9ff9-5db72d5bcfc3.png)
Dollar sign in population
No Unit in Area Km^2

### Expected Behavior?

There should be no dollar sign and Unit in population

### Steps To Reproduce

Run bot
type   /countryInfo I

[2022-10-12 19:26] tiasaxena commented on #115
I am interested in this issue. Can you please assign me this issue @thieleju

[2022-10-12 19:40] thieleju commented on #115
@aakashgarg-19 Thank you for reporting this, I quickly fixed this in the commit above :)

@tiasaxena This issue is already solved, but you can create a new issue if you have an idea for a new command.

[2022-10-12 19:40] #115 closed

[2022-10-12 20:04] tiasaxena opened #116 "Add /generatepassword command using Passwordinator API"
### Command Name

/generatepassword [length]

### Public API Resource

https://github.com/fawazsullia/password-generator

### Description

This command should take an optional parameter for the length of the desired password.
The default length should be 18 chars.
The password should include upper and lowercase chars, numbers and special characters.

### Implementation Details

- Add a new javascr

[2022-10-12 20:04] tiasaxena commented on #116
Hey @thieleju , please assign me this issue :)

[2022-10-12 20:15] thieleju commented on #116
Hi @tiasaxena, unfortunately a new command has to fetch data from public apis.
But you could use [this](https://github.com/fawazsullia/password-generator) password generator api for a /generatepassword command if you want :)
What do you think?

[2022-10-12 20:19] tiasaxena commented on #116
Yes, I am interested

[2022-10-12 20:21] thieleju commented on #116
Great! I'm going to edit this issue and assign you

[2022-10-13 17:41] JuriKae opened #117 "Add /advice command using Advice Slip API"
### Command Name

/advice

### Public API Resource

https://api.adviceslip.com/

### Description

Will give the user a random advice.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.js](https://disco

[2022-10-13 17:43] JuriKae commented on #117
Can I work on this?

[2022-10-13 17:44] thieleju commented on #117
@JuriKae Sure, go ahead!

[2022-10-13 17:54] KY-Y0 opened #118 "Add /yesno command using yesno.wtf API"
### Command Name

/yesno

### Public API Resource

https://yesno.wtf/#api

### Description

Answers yes or no to any question.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.js](https://discordjs.gu

[2022-10-13 17:55] flexx7 opened #119 "Add /shibapic command using Shibe online API"
### Command Name

/shibapic

### Public API Resource

https://shibe.online/

### Description

replies with an pic of shiba inu dog

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.js](https://discordj

[2022-10-13 17:55] flexx7 commented on #119
can I work on this?

[2022-10-13 17:55] KY-Y0 commented on #118
Can I work on this?

[2022-10-13 17:55] ChristianPachecoLopez opened #120 "Add /roboavatar command using RoboHash API"
### Command Name

/roboavatar [name]

### Public API Resource

https://robohash.org/

### Description

create an robotor avatar by entering a string

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.js

[2022-10-13 17:56] thieleju commented on #119
@flexx7 Sure, go ahead!

[2022-10-13 17:56] thieleju commented on #118
@KY-Y0 Sure, go ahead!

[2022-10-13 17:58] ChristianPachecoLopez commented on #120
Can I work on it?

[2022-10-13 17:58] thieleju commented on #120
@ChristianPachecoLopez Sure, go ahead!

[2022-10-13 18:35] JuriKae opened #122 "Add /xkcd command using xkcd Swagger Rest API"
### Command Name

/xkcd

### Public API Resource

https://www.programmableweb.com/api/xkcd-swagger-rest-api-v2

### Description

Shows a random xkcd comic.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [dis

[2022-10-13 18:35] JuriKae commented on #122
Can I work on this?

[2022-10-13 18:51] thieleju commented on #117
@JuriKae Well done!
I approved your pr #121 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-13 18:51] #117 closed

[2022-10-13 18:54] thieleju commented on #119
@flexx7  Well done!
I approved your pr #123 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-13 18:54] #119 closed

[2022-10-13 18:55] thieleju commented on #118
@KY-Y0  Well done!
I approved your pr #124 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-13 18:55] #118 closed

[2022-10-13 19:00] thieleju commented on #122
@JuriKae Sure, go ahead!

[2022-10-13 19:38] flexx7 opened #125 "Add /breakingbaddeath command using breaking bad api"
### Command Name

/breakingbaddeath

### Public API Resource

https://breakingbadapi.com/

### Description

find out some interesting information about a death of breaking bad characters

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format the data in a readable way and sen

[2022-10-13 19:38] flexx7 commented on #125
can I work on this?

[2022-10-13 19:44] thieleju commented on #125
@flexx7 Sure, great idea!
Since we already have a /breakingbad command to fetch a quote, could you change the command to /breakingbaddeath and reply with a random death entry from [this](https://breakingbadapi.com/api/deaths) ressource?

[2022-10-14 06:39] flexx7 commented on #125
ok nice, should I use [this](https://breakingbadapi.com/api/deaths) resource or is [this](https://breakingbadapi.com/api/random-death) resource also possible?

[2022-10-14 07:43] thieleju commented on #125
Your second link seems perfect!

[2022-10-14 13:00] thieleju commented on #9
Hey, @JatinSingh08. There are about two more weeks to Hacktoberfest. Do you need any help setting up the project?
Feel free to ask me :)

[2022-10-14 13:02] thieleju commented on #17
Hey, @Madhvik007. There are about two more weeks to Hacktoberfest. Do you need any help setting up the project?
Feel free to ask me :)

[2022-10-14 13:04] thieleju commented on #34
Hey, @Ahsan-Ehtesham. There are about two more weeks to Hacktoberfest. Do you need any help setting up the project?
Feel free to ask me :)

[2022-10-14 13:04] thieleju commented on #53
Hey, @ethapar. There are about two more weeks to Hacktoberfest. Do you need any help setting up the project?
Feel free to ask me :)

[2022-10-14 13:05] thieleju commented on #55
Hey, @chinmayayy. There are about two more weeks to Hacktoberfest. Do you need any help setting up the project?
Feel free to ask me :)

[2022-10-14 13:38] Ta1al opened #129 "Add /motivational-quote command using Motivational Quote API"
### Command Name

/motivational-quote

### Public API Resource

https://api.goprogram.ai/inspiration

### Description

Returns a random motivational quote and it's author

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format the data in a readable way and send it to the user

[2022-10-14 13:38] Ta1al commented on #129
Can you assign it to me?

[2022-10-14 13:52] Ta1al commented on #129
I see there is already a `/motivation` command. But it doesn't work, so I'll create an issue to fix that.

[2022-10-14 13:52] #129 closed

[2022-10-14 13:59] Ta1al opened #130 "/motivation command does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior?

The command doesn't respond with an actual "quote". Just something motivational in the form of code e.g., `smile. find( reason );`

### Expected Behavior?

It should return an actual quote like:

\- Jim Afremow

### Steps To Reproduce

1. Run `/motivation`

### Environment

[code]

### Anyth

[2022-10-14 15:10] ChristianPachecoLopez opened #133 "Add /createLoripsum command using Loripsum API"
### Command Name

/createLoripsum

### Public API Resource

https://loripsum.net/

### Description

Create a Loripsum textfield with number of paragraphs equal one and  selectable paragraph length (short, medium, long)

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format th

[2022-10-14 15:10] ChristianPachecoLopez commented on #133
Could I work on it?

[2022-10-14 15:56] KY-Y0 opened #134 "Add /inspiration command using Inspiration API"
### Command Name

/inspiration

### Public API Resource

https://api.goprogram.ai/inspiration/docs/

### Description

This command will give you inspiration in every life situation. :D
https://api.goprogram.ai/inspiration

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format

[2022-10-14 15:56] KY-Y0 commented on #134
Hey! Can i work on it?

[2022-10-14 16:21] thieleju commented on #130
@Ta1al Thank you for reporting, but this is actually the intentional behaviour of the command 😅
`DELETE FROM thoughts WHERE category = 'negative'` meaning to delete all negative thoughts :)

But I have to admit, that the name of the command /motivation or the description doesn't indicate that this is a programming motivation quote.
If you want I could assign you to this issue and you could rename

[2022-10-14 16:25] thieleju commented on #125
@flexx7 Well done!
I approved your pr #126 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-14 16:25] #125 closed

[2022-10-14 16:27] thieleju commented on #122
@JuriKae Well done!
I approved your pr #127 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-14 16:27] #122 closed

[2022-10-14 16:32] thieleju commented on #120
@ChristianPachecoLopez  Well done!
I approved your pr #132 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-14 16:32] #120 closed

[2022-10-14 16:33] thieleju commented on #133
@ChristianPachecoLopez Sure, go ahead!

[2022-10-14 17:31] thieleju commented on #134
@KY-Y0 Well done!
I approved your pr #135 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-14 17:31] #134 closed

[2022-10-15 02:03] #130 closed

[2022-10-15 02:43] Ta1al opened #137 "Add /encryption command using Classify API"
### Command Name

/encryption encrypt
/encryption decrypt
/encryption generate

### Public API Resource

https://classify-web.herokuapp.com/#/api

### Description

This command will encrypt or decrypt a message using a key. It will also have an option to generate a key.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro

[2022-10-15 02:44] Ta1al commented on #137
can I be assigned this?

[2022-10-15 08:08] thieleju commented on #137
Great idea! @Ta1al Sure, I'll assign you

[2022-10-15 23:14] dejmedus opened #140 "Add /earthevent command using NASA Earth Observatory Natural Event Tracker"
### Command Name

/earthevent

### Public API Resource

https://eonet.gsfc.nasa.gov/docs/v3

### Description

The /earthevent command will return a natural event (forest fire, volcanic eruption, tropical storm, etc.) its name and source url, that has occurred in the past 30 days.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/

[2022-10-15 23:15] dejmedus commented on #140
I would like to work on this

[2022-10-16 10:12] chinmayayy commented on #55
Hey @thieleju, I got a bit busy but I'll make sure to set and finish this up soon!

[2022-10-17 13:24] #69 closed

[2022-10-17 13:26] thieleju commented on #140
Great idea @dejmedus!

[2022-10-17 19:11] thieleju commented on #106
@Sheikh566 Well done!
I approved your pr #139 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-17 19:11] #106 closed

[2022-10-17 19:15] thieleju commented on #137
@Ta1al Well done!
I approved your pr #138 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-17 19:15] #137 closed

[2022-10-17 19:21] thieleju commented on #140
@dejmedus  Well done!
I approved your pr #143 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-17 19:21] #140 closed

[2022-10-17 20:47] devcraig opened #144 "Add /catfact command using cat facts api"
### Command Name

/catfacts

### Public API Resource

https://alexwohlbruck.github.io/cat-facts/docs

### Description

This command will return cat facts

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [disco

[2022-10-17 20:50] thieleju commented on #144
@devcraig Hey, thank you for opening this issue, but unfortunately we already implemented a similar command in #18.

[2022-10-17 20:50] #144 closed

[2022-10-17 20:50] devcraig commented on #144
just saw that sorry

[2022-10-17 20:53] thieleju commented on #144
@devcraig No worries :) if you want you can use [this](https://thecocktaildb.com/api.php) api to respond with a random cocktail

[2022-10-17 20:57] thieleju commented on #55
@chinmayayy Okay no worries, I've just been checking on the remaining issues. Take your time!

[2022-10-18 18:21] thieleju commented on #87
@Siddharth9890 Well done!
I approved your pr #141 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-18 18:21] #87 closed

[2022-10-25 09:13] thieleju commented on #9
Only a week left for Hacktoberfest, this issue is up for grabs again

[2022-10-25 09:13] thieleju commented on #17
Only a week left for Hacktoberfest, this issue is up for grabs again

[2022-10-25 09:14] thieleju commented on #34
Only a week left for Hacktoberfest, this issue is up for grabs again

[2022-10-25 09:14] thieleju commented on #53
Only a week left for Hacktoberfest, this issue is up for grabs again

[2022-10-25 10:51] navya-Singla-1-3-0-9 commented on #34
I want to work on this. Please assign this issue to me.

[2022-10-25 11:54] thieleju commented on #34
@navya-Singla-1-3-0-9 Sure, go ahead! :)

[2022-10-25 11:55] thieleju commented on #83
Hey @appledora There is only one week left for Hacktoberfest. Do you need any help setting up the project?
Feel free to ask me :)

[2022-10-25 11:56] thieleju commented on #116
Hey @tiasaxena. There is only one week left for Hacktoberfest. Do you need any help setting up the project?
Feel free to ask me :)

[2022-10-25 13:12] appledora commented on #83
Hey @thieleju , sorry this took me so long - got my last exam tomorrow and I will be good to get started right after. I already have the project set up on my local machine. I hope you can give me a couple more days to complete this?

[2022-10-25 17:16] hkmekala commented on #9
@thieleju Please assign it to me!.
Thank you.

[2022-10-25 17:17] hkmekala commented on #17
@thieleju, Please assign it to me!

[2022-10-25 17:18] hkmekala commented on #53
Please Assign it to me @thieleju.

[2022-10-25 17:41] thieleju commented on #9
Hi @hkmekala. Since you volunteered for this issue, #53 and #17. Which would you like to work on? Unfortunately only one issue per person is allowed :)

[2022-10-25 18:53] hkmekala commented on #9
Hi @thieleju,

I'll take #17, Thank you.

[2022-10-26 06:01] Serpent03 commented on #53
Hi, can I have a try at it?

[2022-10-26 09:31] Serpent03 commented on #53
@thieleju Thanks! One question. The APOD uses an API key, so what do you wish for me to do regarding that? Do I email it to you or anything so you can maintain it in your local storage?

[2022-10-26 10:46] thieleju commented on #53
Oh I did not notice that. Unfortunately only apis without api key are allowed :/
If you want you can do #17 instead :)

[2022-10-26 10:52] Serpent03 commented on #53
It shouldn't be a problem, I think. There is a NASA demo API that you can use without generating a personal API key, so is it good if I put that in instead?

[2022-10-26 13:42] thieleju commented on #53
@Serpent03 It has rate limits for 30 requests per hour and 50 requests per day, but I think that should work.

I reviewed your pr #146 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-26 13:55] Serpent03 commented on #53
Thanks!

[2022-10-27 06:24] Serpent03 commented on #53
An idea for the future, maybe. But with limited requests, you could perhaps cache the necessary information into a json file and reference it whenever needed directly

[2022-10-27 16:14] KY-Y0 commented on #9
Hey, can i take it?

[2022-10-27 16:14] thieleju commented on #9
@KY-Y0 Sure, go ahead!

[2022-10-27 16:42] thieleju commented on #9
@KY-Y0 Great work!
I reviewed your pr #147 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-27 16:42] #9 closed

[2022-10-28 16:16] thieleju commented on #133
@ChristianPachecoLopez Well done!
Your pr #145 has been merged and labeled with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-28 16:16] #133 closed

[2022-10-28 20:27] appledora commented on #83
@thieleju would love your feedbacks! Thanks for giving me the time!

[2022-10-29 10:50] thieleju commented on #55
@ChristianPachecoLopez is working on this

[2022-10-29 12:30] ChristianPachecoLopez opened #149 "Add /genderofname command using Genderize API"
### Command Name

/genderofname

### Public API Resource

https://genderize.io/

### Description

Enter a name as a String and get its gender.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data from your public API
- Format the data in a readable way and send it to the user
- Use the [discord.js](http

[2022-10-29 12:31] ChristianPachecoLopez commented on #149
Can I work on this Issue?

[2022-10-29 12:48] thieleju commented on #149
@ChristianPachecoLopez Sure, go ahead!
Do you mind renaming the command to /guessgender?

[2022-10-29 13:39] thieleju commented on #83
@appledora well done!
I approved your pr #148 and labeled it with `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-29 13:39] #83 closed

[2022-10-29 13:48] thieleju commented on #149
@ChristianPachecoLopez Great work!
I approved your pr #150 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-29 13:48] #149 closed

[2022-10-29 19:39] ChristianPachecoLopez opened #151 "Add /universitydomain command using University Hipolabs API"
### Command Name

/universitydomain

### Public API Resource

https://github.com/Hipo/university-domains-list

### Description

by calling the command it will ask for the university name or country and return the information/domain of the university.

### Implementation Details

- Add a new javascript file in the `commands` folder
- Use [axios](https://axios-http.com/docs/intro) to fetch the data

[2022-10-29 19:39] ChristianPachecoLopez commented on #151
Can I work on this Issue?

[2022-10-29 19:42] thieleju commented on #151
@ChristianPachecoLopez Great idea!

[2022-10-30 09:54] hkmekala commented on #17
@thieleju, I have raised a PR, Thank you.

[2022-10-30 12:23] thieleju commented on #17
@hkmekala  Well done!
I approved your pr #152 and labeled it with the `hacktoberfest-accepted` label.

Keep contributing ❤️

[2022-10-30 12:23] #17 closed

[2022-11-02 17:30] thieleju commented on #151
Completed in #153

[2022-11-02 17:30] #151 closed

[2022-11-02 17:33] thieleju commented on #55
Done in #154

[2022-11-02 17:33] #55 closed